/* line 1, sass/imports/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 22, sass/imports/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 26, sass/imports/_reset.scss */
body {
  line-height: 1; }

/* line 29, sass/imports/_reset.scss */
ol, ul {
  list-style: none; }

/* line 32, sass/imports/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 35, sass/imports/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 40, sass/imports/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 2, sass/imports/_base.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 5, sass/imports/_base.scss */
html {
  box-sizing: border-box; }

/* line 9, sass/imports/_base.scss */
body {
  font: 100%/1.5 Cambria, Garamond, Georgia, Times, serif;
  color: #333;
  background: #fff; }

/* line 14, sass/imports/_base.scss */
a {
  text-decoration: none;
  color: #4e7c92;
  -webkit-tap-highlight-color: #4e7c92; }

/* line 19, sass/imports/_base.scss */
a:hover {
  color: #DF3030; }

/* line 23, sass/imports/_base.scss */
::selection {
  background: #4e7c92;
  color: #fff; }

/* line 25, sass/imports/_base.scss */
.show {
  transform: translateY(0);
  max-height: 1000px;
  opacity: 1;
  transition: all .3s; }

/* line 1, sass/imports/_structure.scss */
.content {
  max-width: 940px;
  margin: 0 auto;
  padding-bottom: 1.5em; }

/* line 6, sass/imports/_structure.scss */
.content-main {
  box-sizing: border-box;
  float: left;
  width: 60%;
  padding-right: 24px; }

/* line 12, sass/imports/_structure.scss */
.content-sub {
  float: right;
  width: 40%; }

/* line 17, sass/imports/_structure.scss */
.btn-list {
  padding: 6px; }
  /* line 19, sass/imports/_structure.scss */
  .btn-list li {
    display: inline-block;
    margin-right: 1.5rem;
    margin-bottom: 1rem; }
  /* line 25, sass/imports/_structure.scss */
  .btn-list .active {
    background: #87a3af;
    text-shadow: none;
    color: #fff;
    padding: 0.25rem; }

/* line 36, sass/imports/_structure.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

/* line 41, sass/imports/_structure.scss */
.clearfix:after {
  clear: both; }

/* line 45, sass/imports/_structure.scss */
.secondary {
  background: #f8f7f3;
  border: 1px solid #bfbfbf;
  padding: 1em; }

/* line 51, sass/imports/_structure.scss */
img,
iframe {
  width: 100%; }

@media (min-width: 768px) {
  /* line 57, sass/imports/_structure.scss */
  .content {
    max-width: 940px;
    margin: 0 auto;
    padding-bottom: 1.5em; }
  /* line 62, sass/imports/_structure.scss */
  .content-main {
    box-sizing: border-box;
    float: left;
    width: 60%;
    padding-right: 24px; }
  /* line 68, sass/imports/_structure.scss */
  .content-sub {
    float: right;
    width: 40%; } }

/* line 1, sass/imports/_header.scss */
header {
  max-width: 940px; }
  /* line 4, sass/imports/_header.scss */
  header h1 {
    font-size: 3rem; }
  /* line 7, sass/imports/_header.scss */
  header p {
    display: none; }
    @media (min-width: 480px) {
      /* line 7, sass/imports/_header.scss */
      header p {
        display: block;
        font-size: 1.5rem;
        max-width: 940px;
        text-transform: uppercase;
        line-height: 1.1;
        margin-bottom: 1rem; } }
  /* line 20, sass/imports/_header.scss */
  header h1 + p {
    padding-top: 1rem;
    border-top: 3px double #dbd1b5; }
  /* line 24, sass/imports/_header.scss */
  header p + p {
    font-size: 1rem;
    line-height: 1.1;
    color: #666; }

/* line 3, sass/imports/_navigation.scss */
nav ul {
  transform: translateY(-200px);
  max-height: 1px;
  opacity: 0;
  transition: all .3s;
  background: #ddd; }
  @media (min-width: 480px) {
    /* line 3, sass/imports/_navigation.scss */
    nav ul {
      display: flex;
      justify-content: space-between;
      background: #4e7c92;
      text-align: center;
      opacity: 1;
      transform: translateY(0);
      max-height: 1000px; } }

/* line 22, sass/imports/_navigation.scss */
nav li {
  padding: 4px 2px 4px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
  @media (min-width: 480px) {
    /* line 22, sass/imports/_navigation.scss */
    nav li {
      padding: 0.5rem;
      border-bottom: none;
      flex-grow: 1; } }
  /* line 32, sass/imports/_navigation.scss */
  nav li:hover {
    background: #333; }
    /* line 35, sass/imports/_navigation.scss */
    nav li:hover a {
      color: #fff;
      display: inline-block;
      width: 100%; }

@media (min-width: 480px) {
  /* line 45, sass/imports/_navigation.scss */
  nav a {
    color: #fff; } }

/* line 54, sass/imports/_navigation.scss */
nav a#pull {
  display: block;
  background-color: #4e7c92;
  height: 32px;
  padding-top: 12px;
  padding-left: 12px;
  position: relative;
  z-index: 20; }
  @media (min-width: 480px) {
    /* line 54, sass/imports/_navigation.scss */
    nav a#pull {
      display: none; } }

/* line 69, sass/imports/_navigation.scss */
nav a#pull:after {
  content: "";
  background: url(../img/nav-icon.png) no-repeat;
  background-size: cover;
  width: 22px;
  height: 22px;
  color: #fff;
  display: inline-block; }

/*# sourceMappingURL=styles.css.map */