
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body {
	font: 100%/1.5 Cambria, Garamond, Georgia, Times, serif;
	color: #333;
	background:#fff;
}
a { 
	text-decoration:none; 
	color:#4e7c92;
	-webkit-tap-highlight-color: #4e7c92;
}
a:hover {
	color: #DF3030;
}

::selection { background:#4e7c92; color:#fff; }

.show { 
	transform: translateY(0);
	max-height: 1000px;
	opacity: 1;
	transition: all .3s;
}